@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    header ul {
        display: none;
        border: 0;
    }

    header ul li {
        border: 0;
    }

    #hamburger {
        position: relative;
        margin: 13px;
        z-index: 1000;
    }

    span {
        display: block;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
        background: #000;
        transition: all 0.3s;
    }


    /* ここからハンバーガーメニュー */

    .c-drawer {
        position: fixed; /* absoluteよりfixedの方が画面に固定されるのでおすすめ */
        top: 50px;
        height: calc(100vh - 50px);
        right: -100%; /* 画面の右外に隠す */
        width: 70%;  /* メニューの幅（お好みで） */
        height: 100vh;
        background: rgba(255, 255, 255, 0.95); /* 背景色 */
        z-index: 100;
        transition: all 0.5s; /* スライドの速度 */
        padding-top: 60px; /* 上部に余白 */
    }

    .c-drawer.active {
        right: -70%;
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
    }

    .c-drawer.active span:first-child {
        transform: translateY(10px) rotate(45deg);
    }

    .c-drawer.active span:nth-child(2) {
        opacity: 0;
    }

    .c-drawer.active span:last-child {
        transform: translateY(-10px) rotate(-45deg);
    }
    
    .c-drawer.active ul {
        display: block;
    }

    .c-drawer.active ul li {
        margin: 10px 0;
        padding: 0 10px;
        text-align: left;
    }
}
